<strong> Olá, {{ student }}</strong>
<p> Seque a resposta da sua pergunta:</p>
<p>
  <strong> Pergunta: </strong> {{ question }}<br />
  <strong> Resposta: </strong> {{ answer }}<br />
   <strong> Data: </strong> {{ date }}<br />
  
</p>