<strong> Olá, {{ student }}</strong>
<p> Inscrição no gympoint realizado com sucesso. Confira os detalhes abaixo:</p>
<p>
  <strong> Plano: </strong> {{ plan }}<br />
  <strong> Preço: </strong> {{ price }}<br />
  <strong> Términio: </strong> {{ date }} <br />
  
</p>